* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins";
    
}

.Twitter {
    display: flex;
}

.logo {
    width: 40px;
}

.main_body {
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(207, 207, 207);
}

.main_head {
    display: flex;
    font-size: 10px;
}