* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins";
    
}

.Twitter {
    display: flex;
}

.logo {
    width: 40px;
}

.navlink li a {
    text-decoration: none;
    color: black;
}

.tweetbtn {
    background: #1DA1F2;
    color: white;
    padding: 10px 40px;
    border: 0;
    font-size: 18px;
    border-radius: 30px;
}