* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_body {
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(207, 207, 207);
}

.main_head {
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    color: rgb(49, 49, 49);
}

.home {
    padding: 10px 15px;
}

.typing {
    border: 1px solid rgb(207, 207, 207);
    border-left: 0;
    border-right: 0;
    display: flex;
}

.tweet_space {
    border: 0;
    height: 30px;
}

.tweet_foot {
    display: flex;
    justify-content: space-between;
}

.btn_head {
    background: #1da1f2;
    padding: 8px 35px;
    border: 0;
    border-radius: 20px;
    color: white;
}

/* styles to tweet timeline */

.tweet_made {
    display: flex;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 10px;
}

.profile_pic {
    width: 48px;
    border-radius: 100%;
}

.tweeter_info {
    display: flex;
    justify-content: space-between;
}

.tweeter_name {
    display: flex;
}

.tweet_react, .tweet_react div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}