* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_body {
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(207, 207, 207);
}

.main_head {
    display: flex;
    font-size: 10px;
}

.typing {
    border: 1px solid #000000;
}

.tweet_space {
    border: 0;
    height: 30px;
}

.btn_head {
    background: #1da1f2;
    padding: 8px 35px;
    border: 0;
    border-radius: 20px;
    color: white;
}