* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Twitter {
    display: grid;
    grid-template-columns: 275px 600px 350px;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.navbar .navlink {
    display: flex;
    flex-direction: column;
}

.navlink {
    height: 75%;
}

.logo {
    width: 40px;
}

.navlink ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navlink li {
    list-style-type: none;
}
.navlink li a {
    text-decoration: none;
    color: black;
}

.navlink li a:hover {
    background: #d6d6d6;
    padding: 8px 12px;
    border-radius: 30px;
}

.navlink li a, .logo {
    margin: 30px;
}

.fa-solid {
    margin-right: 15px;
}

.tweetbtn {
    background: #1DA1F2;
    color: white;
    padding: 10px 40px;
    border: 0;
    font-size: 18px;
    border-radius: 30px;
}

.nav-foot {
    display: flex;
    align-items: center;
}

.profile {
    width: 60px;
}